.header {
  background: transparent;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: var(--page-bleed);
  padding-right: var(--page-bleed);
  z-index: 999;
}

.header--open {
  --color-outline: white;
  background: var(--color-vibrant-blue);
  height: 100vh;
  color: var(--color-white);
  position: fixed;
  overflow-y: scroll;
}

.header__wrapper {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--container-xl);
  margin: 0 auto;
}

.header__logo {
  width: clamp(170px, 13vw, 200px);
}

.header__menu-button {
  cursor: pointer;
  outline: 0;
  padding: var(--space-md);
  font-size: var(--fs-body);
  border: 0;
  background: none;
}

.header__menu-button::after {
  vertical-align: center;
  font-size: var(--fs-ingress);
  padding-left: var(--space-md);
}

.header__menu-button::after {
  content: "☰";
}

.header--open .header__menu-button::after {
  content: "✕";
}

.header__menu {
  display: none;
  padding-bottom: var(--space-xxl);
  max-width: var(--container-xl);
  margin: 0 auto;
}

.header__menu-page-link {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-lg);
  color: var(--color-white);
  display: block;
  cursor: pointer;
  font-weight: 500;
  /* stagger animation */
  animation-name: animateIn;
  animation-duration: 250ms;
  animation-delay: calc(var(--item-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.header--open .header__menu {
  display: grid;
  grid-gap: var(--space-xl);
  grid-template-columns: 1fr;
}

.header__subscribe-wrapper {
  margin-top: var(--space-md);
  display: grid;
  gap: var(--space-lg);
  grid-template-columns: 1fr 2fr;
}

.header__subscribe-input {
  font-size: var(--fs-body);
  padding: var(--space-md);
  border: 0;
  outline: 0;
  background: var(--color-white);
  width: 100%;
}

@media (min-width: 1100px) {
  .header--open .header__menu {
    display: grid;
    grid-template-columns: 14fr 10fr;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}

.header__circle-animation {
  position: relative;
}

.header__circle-animation svg {
  position: absolute;
  will-change: left;
  left: 0;
  top: 0;
}

.header__circle-animation svg:first-of-type {
  animation: 5s slideLeft infinite;
}

.header__circle-animation svg:nth-of-type(2) {
  left: 50%;
  transform: translateX(-50%);
}

.header__circle-animation svg:last-of-type {
  animation: 5s slideRight infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    left: 100%;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    left: 100%;
    transform: translateX(-100%);
  }
  50% {
    left: 0;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(-100%);
  }
}
