.header {
  --header-bg: transparent;
}

.header {
  background: var(--header-bg);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: var(--page-bleed);
  padding-right: var(--page-bleed);
}

.header--open {
  height: 100vh;
  color: var(--color-white);
  position: fixed;
  --header-bg: var(--color-vibrant-blue);
}

.header__wrapper {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--container-xl);
  margin: 0 auto;
}

.header__logo {
  width: 200px;
}

.header__menu-button {
  cursor: pointer;
  outline: 0;
  padding: var(--space-md);
  font-size: var(--fs-body);
  border: 0;
  background: none;
}

.header__menu {
  display: none;
}

.header__menu-page-link {
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-md);
  color: var(--color-white);
  display: block;
  cursor: pointer;
  font-weight: 500;
  /* stagger animation */
  animation-name: animateIn;
  animation-duration: 250ms;
  animation-delay: calc(var(--item-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.header--open .header__menu {
  display: grid;
  grid-gap: var(--space-xl);
  grid-template-columns: 1fr;
}

@media (min-width: 800px) {
  .header--open .header__menu {
    display: grid;
    grid-template-columns: 14fr 10fr;
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(-8px);
  }

  100% {
    opacity: 1;
  }
}
