.project-list {
  margin-bottom: var(--space-xl);
}

.project-list__description {
  max-width: 800px;
}

.project-list__items {
  counter-reset: item;
  margin: 0;
  margin-top: var(--space-xl);
  padding: 0;
  list-style: none;
}

.project-list-item:first-of-type {
  border-top: 2px solid var(--border-color);
}

.project-list-item {
  --border-color: var(--color-contrast);
  counter-increment: item;
  width: 100%;
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
  padding-left: var(--page-bleed);
  padding-right: var(--page-bleed);
  box-shadow: 2px 2px 0px 0px var(--border-color);
}

.project-list-item:hover {
  background-color: var(--color-vibrant-blue);
  color: var(--color-white);
  --border-color: var(--color-vibrant-blue);
}

.project-list-item:hover .project-list-item__counter {
  color: var(--color-contrast);
}

.project-list-item__counter {
  position: relative;
  max-width: clamp(60px, 5.5vw, 150px);
}

.project-list-item__counter::after {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.project-list-item__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-xl);
  cursor: pointer;
  display: grid;
  grid-template-columns: 50px 3fr 1fr;
  grid-gap: var(--space-md);
  align-items: center;
}

@media (min-width: 1000px) {
  .project-list-item__wrapper {
    grid-template-columns: 1fr 5fr 2fr;
  }
}

.project-list-item__title {
  margin: 0;
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-lg);
  font-weight: 500;
}

.project-list-item__text {
  font-family: var(--ff-default);
  font-size: var(--fs-body);
  font-weight: 400;
}

.project-list-item__arrow {
  text-align: right;
  font-size: var(--fs-heading-md);
}

.project-list-item__arrow::after {
  content: "→";
}

.project-list-item--external .project-list-item__arrow:after {
  content: "↗";
}
