.button {
  background: transparent;
  outline: 0;
  cursor: pointer;
  width: 100%;
  height: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-contrast);
}

.button:hover {
  background: var(--color-vibrant-blue);
  color: var(--color-white);
}
