.button {
  background: transparent;
  outline: 0;
  font-family: var(--ff-heading);
  font-feature-settings: "salt" on, "ss01" on, "ss02" on, "ss03" on, "ordn" on,
    "ss04" on, "ss05" on, "cpsp" on, "zero" on, "cv05" on, "cv06" on;
  font-size: var(--fs-heading-sub);
  cursor: pointer;
  padding: 0 var(--space-md);
  min-height: var(--element-lg);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-contrast);
}

.button--full {
  width: 100%;
  display: flex;
}

.button:hover {
  background: var(--color-vibrant-blue);
  color: var(--color-white);
}

.button--primary {
  background: var(--color-vibrant-blue);
  color: var(--color-white);
}

.button--primary:hover {
  background: var(--color-vibrant-blue-hover);
  color: var(--color-white);
}

.button a *,
.button a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none !important;
}
