.project-layout {
  padding-top: calc(var(--header-height) + var(--space-xxl));
}

.project-layout__top-content {
  max-width: var(--container-md);
  padding-bottom: var(--space-lg);
}

.project-layout__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
}

.project-layout__blocks {
  order: 2;
}
.project-layout__sidebar {
  order: 1;
}

.project-layout__illustration {
  margin-bottom: var(--space-xl);
}

.project-layout__info-box {
  background-color: var(--color-vibrant-blue);
  padding: var(--space-md);
  color: var(--color-white);
}

@media (min-width: 1000px) {
  .project-layout__content {
    grid-template-columns: 3fr 2fr;
  }
  .project-layout__blocks {
    order: 1;
  }
  .project-layout__sidebar {
    order: 2;
  }
}

@media (min-width: 1500px) {
  .project-layout__content {
    grid-template-columns: 1fr 1fr;
  }
}
