.hero {
  min-height: 75vh;
  max-height: 1200px;
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50vw;
  padding-top: var(--header-height);
  padding-left: var(--page-bleed);
  padding-right: var(--page-bleed);
  margin-bottom: var(--space-xl);
}

.hero__wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-xl);
}

.hero__content {
  max-width: var(--container-md);
  padding-bottom: var(--space-xxl);
}

.hero--circle {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: calc(100% - var(--space-lg));
  background-size: clamp(500px, 40vw, 850px);
  background-image: url("/assets/illustrations/bg.svg");
}

.hero--drugs {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: calc(100% - var(--space-lg));
  background-size: clamp(500px, 40vw, 850px);
  background-image: url("/assets/illustrations/drugs.svg");
}

.hero--sm {
  min-height: 50vh;
}

.hero--md {
  min-height: 80vh;
}

@media (min-width: 800px) {
  .hero {
    min-height: 100vh;
  }
  .hero--sm {
    min-height: 60vh;
  }
  .hero--md {
    min-height: 80vh;
  }
}
