.html {
  margin-bottom: var(--space-xl);
}

@media (min-width: 800px) {
  .html--columns-2 {
    column-count: 2;
    gap: var(--space-xl);
  }
}

.html table {
  margin-bottom: var(--space-lg);
  border: 0;
}

.html table th,
.html table td {
  border: 0;
  padding: var(--space-sm) 0px;
  border-bottom: 1px solid black;
}

.html table tr:first-of-type td > *,
.html table tr:first-of-type td {
  color: var(--color-vibrant-blue);
  text-transform: uppercase;
  font-size: var(--fs-label);
  font-weight: 600;
}
