.button-group {
  display: flex;
  margin-bottom: var(--space-md);
  flex-wrap: wrap;
}

.button-group__item {
  cursor: pointer;
  flex: 100%;
  padding: 0 var(--space-sm);
  min-height: var(--element-lg);
  font-family: var(--ff-heading);
  font-size: var(--fs-heading-sub);
  font-feature-settings: "salt" on, "ss01" on, "ss02" on, "ss03" on, "ordn" on,
    "ss04" on, "ss05" on, "cpsp" on, "zero" on, "cv05" on, "cv06" on;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid var(--color-contrast);
  border-top: 2px solid var(--color-contrast);
  border-right: 2px solid var(--color-contrast);
}

@media (min-width: 800px) {
  .button-group__item {
    flex: 1 0 auto;
    border-right: none;
    border-bottom: 2px solid var(--color-contrast);
  }
  .button-group__item:last-of-type {
    border-right: 2px solid var(--color-contrast);
  }
}

.button-group__item:last-of-type {
  border-bottom: 2px solid var(--color-contrast);
}

.button-group__item:hover,
.button-group__item--selected {
  background: var(--color-vibrant-blue);
  color: var(--color-white);
}

.button-group__item input {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  vertical-align: middle;
}
