.button-group {
  display: flex;
  margin-bottom: var(--space-md);
}

.button-group__item {
  cursor: pointer;
  width: 100%;
  height: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--color-contrast);
  border-top: 2px solid var(--color-contrast);
  border-bottom: 2px solid var(--color-contrast);
}

.button-group__item:first-of-type {
  border-left: 2px solid var(--color-contrast);
}

.button-group__item:hover {
  background: var(--color-contrast);
  color: var(--color-white);
}

.button-group__item--selected {
  background: var(--color-contrast);
  color: var(--color-white);
}

.button-group__item input {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  vertical-align: middle;
}
