.footer {
  padding-top: var(--page-bleed);
  padding-left: var(--page-bleed);
  padding-right: var(--page-bleed);
  padding-bottom: var(--page-bleed);
}

.footer__wrapper {
  margin: 0 auto;
  max-width: var(--container-xl);
}

.footer__links {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: var(--space-xxl);
}

.footer__links li {
  margin-bottom: var(--space-xs);
}

.footer__logo {
}
