.input {
  width: 100%;
  min-width: 100px;
  max-width: 250px;
  margin-bottom: var(--space-md);
  font-family: var(--ff-heading);
  font-feature-settings: "salt" on, "ss01" on, "ss02" on, "ss03" on, "ordn" on,
    "ss04" on, "ss05" on, "cpsp" on, "zero" on, "cv05" on, "cv06" on;
}

.input__label {
  display: block;
  margin-bottom: var(--space-md);
}

.input__field {
  padding: 0 var(--space-sm);
  min-height: var(--element-lg);
  background: transparent;
  border: 2px solid var(--color-contrast);
  height: var(--space-lg);
  width: 100%;
  display: flex;
  align-items: center;
}

.input__postfix {
  padding-right: var(--space-md);
}

.input__field:focus-within {
  border-color: var(--color-green) !important;
}

.input--full {
  max-width: 100%;
}

.input--lg .input__field {
  height: var(--element-lg);
  padding: 0 8px;
}

.input input {
  outline: 0;
  width: 100%;
  font-family: inherit;
  color: inherit;
  height: inherit;
  padding: 0 var(--space-sm);
  background: none;
  font-size: 16px;
  border: 0;
  font-size: 16px;
}

@media (min-width: 800px) {
  .input {
    font-size: var(--fs-heading-sub);
  }

  .input input {
    font-size: inherit;
  }
}
