.section {
  width: 100%;
  padding-left: var(--page-bleed);
  padding-right: var(--page-bleed);
  margin-bottom: var(--section-padding);
}

.section__wrapper {
  width: 100%;
  height: auto;
  max-width: var(--container-xl);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--space-xl);
}

.section__image-wrapper {
}

.section__text {
  display: grid;
  justify-content: center;
  align-content: center;
}

.section--light {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
  background-color: var(--color-dusty-lilac);
}

.section--reverse .section__wrapper > *:nth-child(1) {
  order: 2;
}

.section--reverse .section__wrapper > *:nth-child(2) {
  order: 1;
}

@media (min-width: 800px) {
  .section__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
